.scrollable-text {
    overflow-y: auto;
    overflow-x: hidden;
    text-align: justify;
    font-family: "Georgia";
    background-color: #faf9f7;
}

text {
    background-color: #faf9f7;
}

.chart {
    background-color: white;
}

.top-bar{
    margin-bottom: 50px;
}

.select{
    width: 50%;
    color: black;
}

.layout_editable{
    margin-top: 110px;
}

.layout{
    margin-top: 10px;
}


