.scrollable-text {
    overflow-y: scroll;
    overflow-x: scroll;
    text-align: justify;
    font-family: "Georgia";
    background-color: #faf9f7;

}

text {
    background-color: #faf9f7;
}

.chart {
    background-color: #faf9f7;
}

.top-bar{
    margin-bottom: 50px;
}

.select{
    width: 50%;
    color: black;
}

.layout_editable{
    margin-top: 110px;
}

.layout{
    margin-top: 10px;
}


.App {
    font-family: sans-serif;
    text-align: center;
}

.tooltip {
    color: black;
    background-color: white;
}
