.scrollable-text {
    overflow-y: auto;
    overflow-x: hidden;
    text-align: justify;
    font-family: "Georgia";
    background-color: white;
}

.chart {
    background-color: white;
    aspect-ratio: 10 / 1;
}

.top-bar{
    margin-bottom: 50px;
}

.select{
    width: 50%;
    color: black;
}

.layout_editable{
    margin-top: 80px;
}

.layout{
    margin-top: 10px;
}

.primary-color{
    background-color: #00618F;
}

.secondary-color{
    background-color: #00618F;
}

.chart-filter-field{
    height: 18%;
    width: 30%;
}


.image-fit{
    width: inherit;
    height: inherit;
    object-fit: contain;

}