# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\vedat\OneDrive\Desktop\Bachelorarbeit\Bachelorarbeit_projekt\dynamic-visualizer-ba\uima-dynamic-visualizer-server\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
