# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\vedat\OneDrive\Desktop\Bachelorarbeit\Bachelorarbeit_projekt\dynamic-visualizer-ba\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
